* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ded9d2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

main {
    position: relative;
    width: 60vw;
    height: 80vh;
}

.container-before,
.container-after {
    position: absolute;
    width: 60vw;
    height: 80vh;
}

.container-before {
    width: 30vw;
    overflow: hidden;
}

img {
    width: 60vw;
    height: 80vh;
    /* object-fit: cover; */
}

.slider {
    width: 0.5rem;
    background: #fefdfd;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
}